.cart-item img {
    max-width: 100px;
}

.quantity-input {
    width: 50px;
}

.cart-summary {
    background-color: #f8f9fa;
    border-radius: 10px;
}
.cart-item hr {
    margin-top: 10px;
    height: 2px;
    background: #d0d0d0;
    border: none;
} 